[init]
defaultBranch = main
[gpg]
# format = ssh
# [user]
# signingkey = /PATH/TO/.SSH/KEY.PUB
[status]
short = true
[url "ssh://git@github.com/"]
insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
insteadOf = https://gitlab.com/
[url "ssh://git@bitbucket.org/"]
insteadOf = https://bitbucket.org/
[pull]
rebase = false
[push]
autoSetupRemote = true
